header {
    display: flex;
    background-color: lightskyblue;
    justify-content: left;
    margin: 0;
    padding: 20px 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    font-size: 1.15rem;
}

nav li {
    display: inline;
    font-weight: 400;
    padding: 0 20px;
}

body {
    max-width: 960px;
    margin: 0 auto;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 300;
    font-size: 16px;
}

main {
    padding: 0 20px;
}

#logos i {
    padding: 20px 10px;
    font-size: 40px;
}

#bio {
    width: 500px;
}

#intro {
    display: flex;
    justify-content: space-between;
}

#intro img {
    max-width: 300px;
    max-height: 300px;
}

#intro p {
    padding-right: 50px;
}

.proj-thumbnail {
    max-width: 300px;
}

details > summary {
    padding: 5px;
    cursor: pointer;
    list-style-type: '+ ';
    font-size: 20px;
    color:dodgerblue
}

details[open] > summary {
    list-style-type: '- ';
}

.proj-info {
    background-color: linen;
    padding: 20px;
}

@media only screen and (max-width: 600px) {
    #intro {
        flex-direction: column;
    }
}